.instructors-wrapper {
  display: flex;
  justify-content: center;
}
.instructor-card {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #8346A0;
  text-align: center;
  padding: 20px;
  margin: 25px;
  box-shadow: 0 0 5px #888;
}
.instructor-favorite {
  position: absolute;
  top: 0;
  right: 5px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #E6DAEB;
  color: #E6DAEB;
}
.more-link {
  margin-top: 10px;
}
.more-link > a {
  color: #fff;
}
.instructor-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 40px;
  margin: auto;
  border-radius: 2px;
}
.instructor-expand-button:hover, .instructor-expand-button:focus {
  background-color: #eee;
}
.instructor-expand-button > img{
  height: 20px;
}
.more-link > a:hover, .more-link > a:focus {
  outline: none;
  color: #eee;
}
.instructors-heading {
  text-align: center;
}
.instructor-photo-wrapper {
  text-align: center;
  padding: 4px;
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
}
.instructor-photo-wrapper > img {
  border-radius: 50%;
  width: 150px;
}
.instructor-info {
  margin-left: 10px;
}
.instructor-occupation {
  font-style: italic;
}
