.nav {
  display: flex;
  background-color: #8C5CA3;
  color: #fff;
}
.links {
  display: flex;
  margin-left: 10px;
}
.links > button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: 10px;
}
.links > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  width: 70px;
  text-align: center;
}
.link.active {
  background-color: #fff;
  color: #8C5CA3;
}
