.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #8346A0;
    border-radius: 4px;
    color: #fff;
    width: 50%;
    margin: 100px auto;
    height: 600px;
    box-shadow: 0 0 5px #888;
}
